.not-found {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    span {
        background: black;
        padding: 25px 50px;
        font-size: 42px;
        font-weight: 600;
        position: absolute;
    }
}